<link rel="import" href="/vendor/firebase-element/firebase-element.html">
<link rel="import" href="/vendor/firebase-element/firebase-login.html">

<link rel="import" href="/vendor/paper-dialog/paper-dialog.html">

<polymer-element name="app-globals" attributes="auth firebase_url" >
	<template>
	</template>
	<script>
		(function() {
			// these variables are shared by all instances of app-globals
			var firebase_url = 'https://twilio-manager.firebaseio.com';
			
			
			Polymer({
				ready: function() {
					// copy global values into instance properties
					this.firebase_url = firebase_url;

					//Firebase Login
					this.auth = document.querySelector('firebase-login');
					//this.authStatus = this.auth.statusKnown || false;
				},
				domReady: function() {
					
				},
				
			});
		})();
	</script>
</polymer-element>