<link rel="import" href="/vendor/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/vendor/core-icons/communication-icons.html">
<link rel="import" href="/vendor/paper-dialog/paper-dialog.html">
<polymer-element name="app-phone" attributes="twilioClient" >
	<template>

		<paper-icon-button icon="communication:phone" on-tap="{{phoneTapped}}" style="color: {{phone_color}}"></paper-icon-button>

		<paper-dialog id="phoneDialog" transition="core-transition-top" vertical layout>
			<h2>Make a Call</h2>
			<div>
				<paper-input label="Number" value="{{phoneNumber}}" ></paper-input>
			</div>
			<div layout horizontal>
				<paper-button flex raised on-tap="{{phoneDialogAction}}" style="background-color: #CCCC33;" >{{phoneDialogActionLabel}}</paper-button>
			</div>
			
		</paper-dialog>

	</template>
	<script>
		(function() {
			Polymer({
				ready: function() {
					this.phoneDialogActionLabel = "Call";
					
					

					
				},
				domReady: function() {
					var self = this;
					//twillio stuff
					// Set up event listeners for custom events.
					self.twilioClient.addEventListener('device-ready', function () {
						console.log("Ready");
						self.phone_color = 'green';
					});

					self.twilioClient.addEventListener('device-error', function (e) {
						console.log("Error: " + e.detail.error.message);
						self.phone_color = 'red';
					});

					self.twilioClient.addEventListener('device-connect', function () {
						console.log("Successfully established call");
						self.phone_color = 'seagreen';
					});

					self.twilioClient.addEventListener('device-disconnect', function () {
						console.log("Call ended");
						self.phone_color = 'orange';
					});

					self.twilioClient.addEventListener('device-incoming', function (e) {
						console.log("Incoming connection from " + e.detail.connection.parameters.From);
						//self.twilioClient.acceptConnection();
						self.phone_color = 'orange';
					});
					//kick it off.
					self.twilioClient.init();
				},
				phoneTapped: function(event) {
					console.log('phone');
					this.$.phoneDialog.toggle();
					
				},
				phoneDialogAction: function(event) {
					console.log('calling '+this.phoneNumber);
					this.twilioClient.call(this.phoneNumber);
				}
			});
		})();
	</script>
</polymer-element>