<link rel="import" href="/vendor/paper-fab/paper-fab.html">
<link rel="import" href="/vendor/core-icons/communication-icons.html">
<link rel="import" href="/vendor/paper-dialog/paper-dialog.html">
<polymer-element name="app-phone" attributes="twilioClient auth" >
	<template>
		<app-globals id="globals" firebase_url="{{firebase_url}}" colors="{{colors}}" ></app-globals>
		<paper-fab mini hidden?="{{!twilioClient.capabilityTokenUrl}}" icon="communication:call" on-tap="{{phoneTapped}}" style="background-color: {{phone_color}}"></paper-fab>

		<paper-dialog id="phoneCallDialog" transition="core-transition-top" vertical layout>
			<h2>Make a Call</h2>
			<div>
				<paper-input label="Number" value="{{phoneNumber}}" type="tel" ></paper-input>
			</div>
			<div layout horizontal>
				<paper-button flex raised on-tap="{{phoneCallDialogAction}}" style="background-color: #CCCC33;" >{{phoneCallDialogActionLabel}}</paper-button>
			</div>
			
		</paper-dialog>
		
		<paper-dialog id="phoneAnswerDialog" transition="core-transition-top" vertical layout>
			<h2>Call From</h2>
			<div>
				<paper-input label="Number" value="{{phoneNumber}}" type="tel" ></paper-input>
			</div>
			<div layout horizontal>
				<paper-button flex raised on-tap="{{phoneAnswerDialogAction}}" style="background-color: {{phoneCallDialogActionColor}}" >{{phoneCallDialogActionLabel}}</paper-button>
			</div>
			
		</paper-dialog>

	</template>
	<script>
		(function() {
			Polymer({
				ready: function() {
					this.phoneCallDialogActionLabel = "Call";
					this.phoneCallDialogActionColor = this.colors.accent;
					this.status = false;
					this.incomingCall = false;

					
				},
				domReady: function() {
					var self = this;
					//twillio stuff
					// Set up event listeners for custom events.
					self.twilioClient.addEventListener('device-ready', function () {
						console.log("Ready");
						self.phone_color = 'green';
					});

					self.twilioClient.addEventListener('device-error', function (e) {
						console.log("Error: " + e.detail.error.message);
						self.phone_color = 'red';
					});

					self.twilioClient.addEventListener('device-connect', function () {
						console.log("Successfully established call");
						self.phone_color = 'seagreen';
					});

					self.twilioClient.addEventListener('device-disconnect', function () {
						console.log("Call ended");
						self.phone_color = 'orange';
						setTimeout(function() { self.phone_color = 'green'; }, 2000);
					});

					self.twilioClient.addEventListener('device-incoming', function (e) {
						console.log("Incoming connection from " + e.detail.connection.parameters.From);
						//self.twilioClient.acceptConnection();
						self.phone_color = 'orange';
						this.incomingCall = true;
					});
					//kick it off. done in app-main
					//self.twilioClient.init();
				},
				phoneTapped: function(event) {
					console.log('phone');
					this.$.phoneCallDialog.toggle();
				},
				phoneCallDialogAction: function(event) {
					switch(this.phoneCallDialogActionLabel) {
						case 'Call':
							console.log('calling '+this.phoneNumber);
							this.twilioClient.number = this.phoneNumber;
							this.twilioClient.call(this.twilioClient.number);
							this.phoneCallDialogActionLabel = "Hang Up";
							this.phoneCallDialogActionColor = this.colors.secondary;
							break;
						case 'Hang Up': 
							this.twilioClient.hangUp();
							this.phoneCallDialogActionLabel = "Call";
							this.phoneCallDialogActionColor = this.colors.accent;
							break;
					}
				},
				phoneAnswerDialogAction: function(event) {
				
			}
			});
		})();
	</script>
</polymer-element>