<link rel="import" href="/vendor/paper-shadow/paper-shadow.html">
<link rel="import" href="/vendor/core-menu/core-menu.html">
<link rel="import" href="/vendor/paper-item/paper-item.html">
<link rel="import" href="/vendor/paper-dropdown/paper-dropdown.html">
<link rel="import" href="/vendor/paper-dropdown-menu/paper-dropdown-menu.html">

<link rel="import" href="/components/app-globals.html">

<polymer-element name="call-router" attributes="" >
	<template>
		<link rel='stylesheet' href='/css/default.css'/>
		<app-globals id="globals" firebase_url="{{firebase_url}}" ></app-globals>
		<paper-shadow  z="1" class="card">
			<paper-dropdown-menu label="Action">
				<paper-dropdown class="dropdown">
					<core-menu class="menu" on-core-select={{actionChange}}>
						<template repeat="{{actions}}">
							<paper-item>{{}}</paper-item>
						</template>
					</core-menu>
				</paper-dropdown>
			</paper-dropdown-menu>
		</paper-shadow>
	</template>
	<script>
		(function() {
			// these variables are shared by all instances of app-globals
			var actions = [ 'Answer', 'Record', 'Menu'];
			Polymer({
				ready: function() {
					this.actions = actions;
				},
				actionChange: function(event) {
					console.log(event.detail.isSelected, event.detail.item.innerText);
				}
			});
		})();
	</script>
</polymer-element>