<link rel="import" href="/vendor/paper-shadow/paper-shadow.html">
<link rel="import" href="/vendor/core-menu/core-menu.html">
<link rel="import" href="/vendor/paper-item/paper-item.html">
<link rel="import" href="/vendor/paper-input/paper-input.html">
<link rel="import" href="/vendor/paper-dropdown/paper-dropdown.html">
<link rel="import" href="/vendor/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/vendor/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/vendor/paper-fab/paper-fab.html">

<link rel="import" href="/components/app-globals.html">


<polymer-element name="call-router-actions" attributes="data actionIndex actionsChanged" >
	<template>
		<link rel='stylesheet' href='/css/default.css'/>
		<style>
			.to { margin-right: 10px; }
			.to h4 { padding-top: 15px; }
			.pad-left { margin-left: 30px; }
			paper-dropdown-menu { margin-top: 24px; }
		</style>
		<app-globals id="globals" firebase_url="{{firebase_url}}" colors="{{colors}}" ></app-globals>
		<div layout horizontal >
			<div>
				<paper-dropdown-menu label="Action">
					<paper-dropdown class="dropdown">
						<core-menu class="menu" on-core-select={{actionChange}} selected="{{actionNumber}}">
							<template repeat="{{actions}}">
								<paper-item>{{}}</paper-item>
							</template>
						</core-menu>
					</paper-dropdown>
				</paper-dropdown-menu>
			</div>
			<div flex class="pad-left" >
				<!-- Forward --> 
				<div hidden?="{{currentAction != 'Forward'}}" >
					<div layout horizontal >
						<div class="to" >
							<h4>To</h4>
						</div>
						<paper-input label="Number" floatingLabel="true" value="{{data.forward_number}}" flex ></paper-input>
					</div>
				</div>

				<!-- Message --> 
				<div hidden?="{{currentAction != 'Message'}}" >
					<div layout horizontal >
						<div class="to" >
							<h4>Say</h4>
						</div>
						<paper-input label="Message" floatingLabel="true" value="{{data.message}}" flex ></paper-input>
					</div>
				</div>

				<!-- Recording --> 
				<div hidden?="{{currentAction != 'Recording'}}" >
					<div layout horizontal >
						<div class="to" >
							<h4>Say</h4>
						</div>
						<paper-input label="Recording" floatingLabel="true" value="{{data.recording}}" flex ></paper-input>
					</div>
				</div>

				<!-- Menu --> 
				<div hidden?="{{currentAction != 'Menu'}}" >
					<div layout horizontal >
						<div class="to" >
							<h4>Say</h4>
						</div>
						<paper-input label="Menu" floatingLabel="true" value="{{data.menu}}" flex ></paper-input>
					</div>
				</div>
			</div>
		</div>
		

	</template>
	<script>
		(function() {
			var actions = [ 'Forward', 'Message', 'Recording', 'Menu'];
			Polymer({
				ready: function() {
					this.actions = actions;
					this.init_action = false;
				},
				domReady: function() {
				},
				observe: {
					//data: 'actionsChanged',
					'data.action': 'actionsChanged',
					'data.forward_number': 'actionsChanged',
					'data.message': 'actionsChanged',
					'data.recording': 'actionsChanged',
					'data.menu': 'actionsChanged',
				},
				dataChanged: function() {
					if(!this.init_action) { //init action item
						this.init_action = true;
						for(var i = 0; i < this.actions.length; i++) {
							if(this.data.action == this.actions[i]) {
								this.actionNumber = i;
								break;
							}
						}
					}
				},
				actionChange: function(event) {
					this.currentAction = event.detail.item.innerText;
					this.data.action = this.currentAction;
				},
			});
		})();
	</script>
</polymer-element>