<link rel="import" href="/vendor/paper-shadow/paper-shadow.html">
<link rel="import" href="/vendor/core-menu/core-menu.html">
<link rel="import" href="/vendor/paper-item/paper-item.html">
<link rel="import" href="/vendor/paper-input/paper-input.html">
<link rel="import" href="/vendor/paper-dropdown/paper-dropdown.html">
<link rel="import" href="/vendor/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/vendor/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/vendor/paper-fab/paper-fab.html">

<link rel="import" href="/components/app-globals.html">
<link rel="import" href="/components/call-router-actions.html">


<polymer-element name="call-router" attributes="router_uid next_routerid " >
	<template>
		<link rel='stylesheet' href='/css/default.css'/>
		<style>
			.padded { padding-left: 20%; padding-right: 20%; }
			.sub-route { margin-top: -30px; }
			paper-shadow { margin-bottom: 50px;}
		</style>
		<app-globals id="globals" firebase_url="{{firebase_url}}" colors="{{colors}}" ></app-globals>
		<firebase-element id="base" 
				data="{{data}}" 
				location="{{firebase_data_url}}" 
				log
				>
			</firebase-element>
		<paper-shadow  z="1" class="card" >
			<div layout horizontal>
				<div flex layout horizontal >
					<paper-input label="Name" floatingLabel="true" value="{{data.name}}" flex ></paper-input>
				</div>
				<div>
					<paper-icon-button icon="delete"  on-tap="{{delete}}" ></paper-icon-button>
					<paper-icon-button icon="{{expand_icon}}"  on-tap="{{expandedToggle}}" ></paper-icon-button>
				</div>
			</div>
			<div hidden?="{{ expand_icon == 'more-horiz' }}" >
				<template repeat="{{ action, actionIndex in data.actions }}">
					<call-router-actions data="{{action}}" actionsChanged="{{actionsChanged}}" actionIndex="{{actionIndex}}" ></call-router-actions>
				</template>
			</div>
		</paper-shadow>
		<div layout horizontal class="sub-route" hidden?="{{ expand_icon == 'more-horiz' }}" >
			<span flex three></span>
			<span flex three></span>
			<paper-fab mini icon="add" style="background-color: {{colors.secondary}};" on-tap="{{addNew}}"></paper-fab>
			<span flex ></span>
		</div>
	</template>
	<script>
		(function() {
			Polymer({
				ready: function() {
					this.expand_icon = 'more-horiz';
					var self = this;
					this.actionsChanged = function() {
						self.job('actionsChanged', function() {
							self.$.base.commitProperty( 'actions' );
						}, 3000);
						
					};
				},
				domReady: function() {
					console.log(this.router_uid);
					this.firebase_data_url = this.firebase_url+'/routers/'+this.router_uid;
				},
				expandedToggle: function() {
					if(this.expand_icon == 'more-vert') {
						this.expand_icon = 'more-horiz';
					} else {
						this.expand_icon = 'more-vert'
						console.log(this.data);
						if(typeof this.data.actions === 'undefined') {
							this.data.actions = [{}];
						}
					}
				},
				addNew: function() {
					var newStuff = this.data.actions.push({});
				},
				delete: function() {
					this.data = null;
				}
			});
		})();
	</script>
</polymer-element>